.popup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: .3s;

    &.active {
        display: flex;
        flex-direction: column;
        opacity: 1;
        visibility: visible;
    }

    .popup__textarea {
        min-height: 250px;
        max-height: 709px;
        height: 100%;
        padding: 10px;
        resize: none;
        outline: none;
        border: 1px solid rgb(119, 0, 255);
    }

    .popup__buttons {
        display: flex;
        gap: 20px;
        justify-content: center;
        padding: 5px 0;;
        border: 1px solid rgb(119, 0, 255);
        border-top: none;
        background-color: #fff;
    }
}